{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
    <div id="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">任务列表</h1>

        <!-- 审批通过模态框 -->
        <div class="modal fade" id="approveConfirmModal" tabindex="-1" role="dialog" aria-labelledby="approveConfirmModal" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <!-- 模态框头部 -->
              <div class="modal-header">
                <h5 class="modal-title" id="approveConfirmModalLabel">确认操作</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- 模态框主体内容 -->
              <div class="modal-body">
                您确定审批通过ID = <span id="task_msg" class="text-danger"></span>的任务么? 请注意: <br><br>
                  1. 立即执行任务在审批通过后2分钟内执行;<br><br>
                  2. 定时执行任务按照Cron内容执行
              </div>
              <div class="modal-body">
                <label class="mr-3 w-100"><span id="approve_confirm_msg" class="text-danger"></span></label>
              </div>
              <!-- 模态框底部 -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="approveConfirmButton" onclick="approve_task()">确认</button>
              </div>
            </div>
          </div>
        </div>

        <!-- 撤回模态框 -->
        <div class="modal fade" id="withdrawConfirmModal" tabindex="-1" role="dialog" aria-labelledby="withdrawConfirmModal" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <!-- 模态框头部 -->
              <div class="modal-header">
                <h5 class="modal-title" id="withdrawConfirmModalLabel">确认操作</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- 模态框主体内容 -->
              <div class="modal-body">
                您确定撤回ID = <span id="task_id" class="text-danger"></span>的任务么? 请注意: <br><br>
                  1. 撤回任务不可重新编辑<br><br>
                  2. 撤回任务内容需重新填写后再提交
              </div>
              <div class="modal-body">
                <label class="mr-3 w-100"><span id="withdraw_confirm_msg" class="text-danger"></span></label>
              </div>
              <!-- 模态框底部 -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="withdrawConfirmButton" onclick="withdraw_task()">确认</button>
              </div>
            </div>
          </div>
        </div>

        <!-- 审批拒绝模态框 -->
        <div class="modal fade" id="rejectConfirmModal" tabindex="-1" role="dialog" aria-labelledby="rejectConfirmModal" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <!-- 模态框头部 -->
              <div class="modal-header">
                <h5 class="modal-title" id="rejectConfirmModalLabel">确认操作</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!-- 模态框主体内容 -->
              <div class="modal-body">
                您确定拒绝通过ID = <span id="reject_task_msg" class="text-danger"></span>的任务么? 如果确认，请描述清楚拒绝原因: <br><br>
                  <textarea id="reject_reason" class="form-control" placeholder="请输入拒绝原因" rows="5" style="resize: vertical; width: 100%;"></textarea>
              </div>
              <div class="modal-body">
                <label class="mr-3 w-100"><span id="reject_confirm_msg" class="text-danger"></span></label>
              </div>
              <!-- 模态框底部 -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="rejectConfirmButton" onclick="reject_task()">确认</button>
              </div>
            </div>
          </div>
        </div>

        <!-- 详情模态框 -->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">任务执行详情</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>选项</th>
                      <th>内容</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="tr-approver" style="display: none">
                      <td>审批人</td>
                      <td id="approver"></td>
                    </tr>
                    <tr>
                      <td>审批结果</td>
                      <td id="approve_result"></td>
                    </tr>
                    <tr>
                      <td>执行命令</td>
                      <td id="execute_shell"></td>
                    </tr>
                    <tr>
                      <td>任务结果</td>
                      <td id="execute_result">
                          <label class="mr-3 w-100">执行成功: <span id="count_success" class="text-danger"></span></label>
                          <label class="mr-3 w-100">执行失败: <span id="count_fail" class="text-danger"></span></label>
                          <label class="mr-3 w-100">执行结果详见: <a id="detail_file" href="#" onclick="download_execute_result()"></a></label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              </div>
            </div>
          </div>
        </div>


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <span class="text-danger">    </span>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Task ID</th>
                                <th>任务名称</th>
                                <th>操作主机组</th>
                                <th>执行策略</th>
                                <th>任务状态</th>
                                <th>创建用户</th>
                                <th>审批人</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Task ID</th>
                                <th>任务名称</th>
                                <th>操作主机组</th>
                                <th>执行策略</th>
                                <th>任务状态</th>
                                <th>创建用户</th>
                                <th>审批人</th>
                                <th>创建时间</th>
                                <th>更新时间</th>
                                <th>操作</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr style="display: none;">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            {% for each_task in all_tasks %}
                            <tr id="tr-{{ each_task.id }}">
                                <td>{{ each_task.id }}</td>
                                <td>{{ each_task.name }}</td>
                                <td>{{ each_task.host_group_name.name }}</td>
                                <td>
                                    {% if each_task.execute_policy == "1" %}
                                        立即执行
                                    {% else %}
                                        定时执行: {{ each_task.execute_policy }}
                                    {% endif %}
                                </td>
                                <td class="{% if each_task.status == 2 %}text-success{% elif each_task.status == 3 %}text-primary{% elif each_task.status == 0 %}text-warning{% elif each_task.status == 1 %}text-danger{% endif %}">{{ each_task.get_status_display }}</td>
                                <td>{{ each_task.user.username }}</td>
                                <td>{{ each_task.approver.username }}</td>
                                <td>{{ each_task.create_time }}</td>
                                <td>{{ each_task.update_time }}</td>
                                <td style="display: none;">{{ each_task.id }}</td>
                                <td>
                                    {% if request.user.is_superuser %}
                                    <button type="button" style="{% if each_task.status != 0 %}display: none;{% endif %}" class="btn btn-warning btn-sm" onclick="accept_taskid(this)" id="{{ each_task.id }}">同意</button>
                                    <button type="button" style="{% if each_task.status != 0 %}display: none;{% endif %}" class="btn btn-danger btn-sm" onclick="reject_taskid(this)" id="r-{{ each_task.id }}">拒绝</button>
                                    {% endif %}
                                    <button type="button" class="btn btn-info btn-sm" onclick="get_task_info(this)" value="{{ each_task.id }}">详情</button>
                                    {% if not request.user.is_superuser %}
                                    <button type="button" class="btn btn-warning btn-sm" onclick="withdraw_taskid(this)" value="{{ each_task.id }}">撤回</button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <div id="load" class="position-fixed w-100 h-100"
     style="top: 0; left: 0; background: rgba(255, 255, 255, 0.2); z-index: 1100; display: none;
            justify-content: center;
            align-items: center;">
        <div class="spinner-border text-success" role="status" style="width: 3rem; height: 3rem; position: absolute; top: 50%; left: 50%; margin-top: -1.5rem; margin-left: -1.5rem;">
        <span class="sr-only">加载中...</span>
    </div>
{% endblock content %}
{% block js %}
    <script type="text/javascript">
        window.addEventListener('load', function () {
            // 检查 DataTable 是否已经初始化
            if ($.fn.DataTable.isDataTable('#dataTable')) {
                $('#dataTable').DataTable().destroy(); // 销毁已有实例
            }
            // 初始化 DataTable
            $('#dataTable').DataTable({
                "order": [[0, 'desc']],
                "pageLength": 50,
            });
        });

        // 设置加载图片
        function loading() {
            document.getElementById('load').style.display = 'flex';
        };

        // 移除加载图片
        function loading_remove() {
            document.getElementById('load').style.display = 'none';
        };

        // 移除reminder
        function reminder_remove() {
            var approve_confirm_msg = document.getElementById("approve_confirm_msg");
            approve_confirm_msg.innerHTML = '';
        };

        // 弹出刷新确认框
        function refresh_confirm() {
            var refresh_confirm_msg = document.getElementById("refresh_confirm_msg");
            refresh_confirm_msg.innerHTML = '';
            $('#refreshConfirmModal').modal('show');
        };

        //下载文件
        function download_execute_result() {
            $.ajax({
                type: "post",
                url: "/download_execute_result/",
                data: {
                    filename: document.querySelector('#detail_file').getAttribute('data-value'),
                },
                xhrFields: {
                    responseType: 'blob'
                },
                 success: function(blob, status, xhr) {
                    // 从响应头中获取后端设置的文件名
                    const filename = xhr.getResponseHeader('Content-Disposition')
                        ?.split('filename=')[1]
                        ?.replace(/"/g, '') || 'downloaded_file.txt';

                    // 创建 Blob 对象的 URL
                    const url = window.URL.createObjectURL(blob);

                    // 动态创建 <a> 元素进行下载
                    const link = document.createElement('a');
                    link.href = url;
                    link.download = filename;
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);
                    window.URL.revokeObjectURL(url);
                },
                error: function(xhr, status, error) {
                    console.log('error:', error);
                }
            });
        }

        // 点击详情按钮时显示任务信息
        function get_task_info(button) {
            $.ajax({
                type: "post",
                url: "/get_task_info/",
                dataType: "json",
                data: {
                    task_id: button.value,
                },
                complete: function () {
                },
                success: function (data) {
                    if (data.status === 0) {
                        document.getElementById("tr-approver").style.display = 'none';
                        if (data.approve_status === 0) {
                            document.getElementById("tr-approver").style.display = '';
                            document.getElementById("approver").innerText = data.superuser_list;
                        }
                        document.getElementById("approve_result").innerText = data.approve_result;
                        document.getElementById("execute_shell").innerText = data.shell;
                        document.getElementById("count_success").innerText = data.msg.count_success;
                        document.getElementById("count_fail").innerText = data.msg.count_fail;
                        document.getElementById("detail_file").innerText = data.msg.exec_remote_shell_result_filename;
                        var detail_file = document.getElementById("detail_file");
                        $('#detail_file').attr('data-value', data.msg.exec_remote_shell_result_filename);
                    } else {
                        document.getElementById("count_success").innerText = "";
                        document.getElementById("count_fail").innerText = "";
                        document.getElementById("detail_file").innerText = "";
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                }
            });

            // 显示确认框
            $('#detailModal').modal('show');
        }

        // 点击同意按钮时设置确认按钮
        function accept_taskid(button) {
            // 设置确认按钮的 data-id 属性
            document.querySelector('#approveConfirmButton').setAttribute('data-id', button.id);
            document.getElementById("task_msg").innerHTML = button.id;

            // 显示确认框
            reminder_remove();
            $('#approveConfirmModal').modal('show');
        }

        // 审批同意任务
        function approve_task() {
            loading();
            var approve_confirm_msg = document.getElementById("approve_confirm_msg");
            $.ajax({
                type: "post",
                url: "/approve_task/",
                dataType: "json",
                data: {
                    task_id: document.querySelector('#approveConfirmButton').getAttribute('data-id'),
                },
                complete: function () {
                },
                success: function (data) {
                    loading_remove();
                    if (data.status === 0) {
                        approve_confirm_msg.innerHTML = 'Reminder: ' + data.msg;
                        location.reload();
                    } else {
                        approve_confirm_msg.innerHTML = 'Reminder: ' + data.msg;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    loading_remove();
                    approve_confirm_msg.innerHTML = 'Reminder: ' + errorThrown;
                }
            });
        }

        // 点击撤回按钮时设置确认按钮
        function withdraw_taskid(button) {
            // 设置确认按钮的 data-id 属性
            document.querySelector('#withdrawConfirmButton').setAttribute('data-id', button.value);
            document.getElementById("task_id").innerHTML = button.value;

            // 显示确认框
            reminder_remove();
            $('#withdrawConfirmModal').modal('show');
        }

        // 撤回任务
        function withdraw_task() {
            loading();
            var withdraw_confirm_msg = document.getElementById("withdraw_confirm_msg");
            $.ajax({
                type: "post",
                url: "/withdraw_task/",
                dataType: "json",
                data: {
                    task_id: document.querySelector('#withdrawConfirmButton').getAttribute('data-id'),
                },
                complete: function () {
                },
                success: function (data) {
                    loading_remove();
                    if (data.status === 0) {
                        approve_confirm_msg.innerHTML = 'Reminder: ' + data.msg;
                        location.reload();
                    } else {
                        approve_confirm_msg.innerHTML = 'Reminder: ' + data.msg;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    loading_remove();
                    approve_confirm_msg.innerHTML = 'Reminder: ' + errorThrown;
                }
            });
        }

        // 点击拒绝按钮时设置确认按钮
        function reject_taskid(button) {
            // 设置确认按钮的 data-id 属性
            document.querySelector('#rejectConfirmButton').setAttribute('data-id', button.id);
            document.getElementById("reject_task_msg").innerHTML = button.id.slice(2);

            // 显示确认框
            reminder_remove();
            $('#rejectConfirmModal').modal('show');
        }

        // 审批拒绝任务
        function reject_task() {
            loading();
            var reject_confirm_msg = document.getElementById("reject_confirm_msg");
            $.ajax({
                type: "post",
                url: "/reject_task/",
                dataType: "json",
                data: {
                    task_id: document.querySelector('#rejectConfirmButton').getAttribute('data-id'),
                    reject_reason: document.getElementById("reject_reason").value,
                },
                complete: function () {
                },
                success: function (data) {
                    loading_remove();
                    if (data.status === 0) {
                        reject_confirm_msg.innerHTML = 'Reminder: ' + data.msg;
                        location.reload();
                    } else {
                        reject_confirm_msg.innerHTML = 'Reminder: ' + data.msg;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    loading_remove();
                    approve_confirm_msg.innerHTML = 'Reminder: ' + errorThrown;
                }
            });
        }
    </script>
{% endblock %}